@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0078d7;
  --secondary: #00c6d7;
  --tertiary: #4caf50;
  --accent-yellow: #ffd700;
  --accent-red: #d72638;
  --background: #f4f4f4;
  --text-dark: #1a1a1a;
  --text-light: #ffffff;
}

.dark {
  --background: #1a1a1a;
  --text-dark: #f4f4f4;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  color: var(--text-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

@keyframes twinkle {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.animate-twinkle {
  animation: twinkle 2s linear infinite;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-300 {
  animation-delay: 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 4s linear infinite; /* Adjust duration as needed */
}